* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
    --ColorLine: #13cf13;
    --ColorText: #ddd;
}

h1 {
    font-size: 36px;
}

h2 {
    position: relative;
    font-size: 30px;
    padding: 20px;
    color: var(--ColorText);
    text-align: center;
}

h2::before {
    content: "";
    position: absolute;
    bottom: 17%;
    left: 50%;
    transform: translateX(-50%);
    width: 50px;
    height: 2px;
    background-color: var(--ColorLine);
}

h2::after {
    content: "";
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    width: 25px;
    height: 2px;
    background-color: var(--ColorLine);
}

/* Menu burger */


body {
    background-color: #555;
}

.burger {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 30px;
    height: 20px;
    font-size: 40px;
    z-index: 2;
    overflow: hidden;
}

.burger div {
    position: absolute;
    height: 4px;
    width: 30px;
    background-color: white;
    transition: 0.2s;
}

.burger div:nth-of-type(1) {
    top: 0;
}

.burger div:nth-of-type(2) {
    top: calc(50% - 2px);
}

.burger div:nth-of-type(3) {
    bottom: 0;
    left: 30%;
}


.burger:hover {
    cursor: pointer;
}

.burger:hover div:nth-of-type(3) {
    bottom: 0;
    left: 0;
}

.burger.active {
    overflow: visible;
}

.burger.active div:nth-of-type(1) {
    top: calc(50% - 2px);
    transform: rotate(-45deg);
}

.burger.active div:nth-of-type(2) {
    transform: rotate(-45deg);
}

.burger.active div:nth-of-type(3) {
    bottom: calc(50% - 2px);
    transform: rotate(45deg);
    left: 0;
}

aside {
    position: fixed;
    right: -100vw;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    transition: 0.2s linear;
    z-index: 1;
}

nav {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
}

li {
    opacity: 0;
    width: 100%;
    list-style: none;
    text-align: center;
}

.burger.active+aside li:nth-child(1) {
    animation: menuList 0.5s 0.2s linear 1 both;
}

.burger.active+aside li:nth-child(2) {
    animation: menuList 0.5s 0.3s linear 1 both;
}

.burger.active+aside li:nth-child(3) {
    animation: menuList 0.5s 0.4s linear 1 both;
}

.burger.active+aside li:nth-child(4) {
    animation: menuList 0.5s 0.5s linear 1 both;
}

li::after {
    content: "";
    display: block;
    margin: 6vh auto;
    background-color: var(--ColorLine);
    opacity: 1;
    height: 4px;
    border-radius: 2px;
    /* transition: 1s 1.5s linear; */
}

.burger.active+aside li::after {
    /* width: 100%; */
    animation: line 0.5s 1s linear 1 both;
}

li:last-child::after {
    display: none;
}

li a {
    color: var(--ColorLine);
    text-transform: uppercase;
    text-decoration: none;
    font-size: 30px;
}

.burger.active+aside {
    right: 0;
}

@keyframes menuList {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes line {
    0% {
        width: 0;
    }

    100% {
        width: 60%;
    }
}

/* Header */

header div {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

header div img {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

}

header div div.headerText {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

header div h1 {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    padding: 1vw;
    text-align: center;
    color: var(--ColorText);
}

header div.arrow {
    position: absolute;
    bottom: 1%;
    left: 50%;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.85);
    transform: translateX(-50%);
}

header i {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 30px;
    color: var(--ColorText);
    transform: translateY(-50%);
}

header i:hover {
    cursor: pointer;
}

/* section about me */
section.aboutMe {
    width: 80%;
    margin: auto;
}

/* section technologies */
section.technologies {
    width: 80%;
    margin: auto;
}

section div {
    margin: 30px auto;
    width: 200px;
    height: 200px;
}

section.technologies div img {
    width: 100%;
    height: 100%;
}